body{padding:0;margin:0}
.bt span{position:absolute;top:-999em}
.bt,.counts{float:left}
.counts{margin-left:3px}
.counts span{background-repeat:no-repeat}
.counts .i_left{width:6px;height:21px;background-position:top left;float:left}
.counts .i_right{height:21px;background-position:top right;float:left}
.counts_nums{padding:0 5px;font-size:12px;font-family:sisum;font-weight:400}
.counts_blue_32 .i_left,.counts_blue_32 .i_right,.counts_white_32 .i_left,.counts_white_32 .i_right{height:32px;line-height:32px}
.counts_blue_32 .i_left{background-image:url(sprite/open_share_button_widget.png?max_age=19830211&d=1128113721);background-position:0 0}
.counts_blue_32 .i_right{background-image:url(img/open/open_counts_blue_r_32.gif?max_age=19830211&d=1128113721);color:#fff}
.counts_white_32 .i_left{background-image:url(sprite/open_share_button_widget.png?max_age=19830211&d=1128113721);background-position:-7px 0}
.counts_white_32 .i_right{background-image:url(img/open/open_counts_white_r_32.gif?max_age=19830211&d=1128113721);color:#3b8cbb}
.counts_blue_24 .i_left,.counts_blue_24 .i_right,.counts_white_24 .i_left,.counts_white_24 .i_right{height:24px;line-height:24px}
.counts_blue_24 .i_left{background-image:url(sprite/open_share_button_widget.png?max_age=19830211&d=1128113721);background-position:-14px 0}
.counts_blue_24 .i_right{background-image:url(img/open/open_counts_blue_r_24.gif?max_age=19830211&d=1128113721);color:#fff}
.counts_white_24 .i_left{background-image:url(sprite/open_share_button_widget.png?max_age=19830211&d=1128113721);background-position:-14px -25px}
.counts_white_24 .i_right{background-image:url(img/open/open_counts_white_r_24.gif?max_age=19830211&d=1128113721);color:#3b8cbb}
.counts_blue_21 .i_left,.counts_blue_21 .i_right,.counts_white_21 .i_left,.counts_white_21 .i_right{height:21px;line-height:21px}
.counts_blue_21 .i_left{background-image:url(sprite/open_share_button_widget.png?max_age=19830211&d=1128113721);background-position:-85px -25px}
.counts_blue_21 .i_right{background-image:url(img/open/open_counts_blue_r_21.gif?max_age=19830211&d=1128113721);color:#fff}
.counts_white_21 .i_left{background-image:url(sprite/open_share_button_widget.png?max_age=19830211&d=1128113721);background-position:-92px -25px}
.counts_white_21 .i_right{background-image:url(img/open/open_counts_white_r_21.gif?max_age=19830211&d=1128113721);color:#3b8cbb}
.counts_blue_16 .counts_nums,.counts_white_16 .counts_nums{font-size:11px}
.counts_blue_16 .i_left,.counts_blue_16 .i_right,.counts_white_16 .i_left,.counts_white_16 .i_right{height:16px;line-height:16px}
.counts_blue_16 .i_left{background-image:url(sprite/open_share_button_widget.png?max_age=19830211&d=1128113721);background-position:-150px 0}
.counts_blue_16 .i_right{background-image:url(img/open/open_counts_blue_r_16.gif?max_age=19830211&d=1128113721);color:#fff}
.counts_white_16 .i_left{background-image:url(sprite/open_share_button_widget.png?max_age=19830211&d=1128113721);background-position:-150px -17px}
.counts_white_16 .i_right{background-image:url(img/open/open_counts_white_r_16.gif?max_age=19830211&d=1128113721);color:#3b8cbb}
.qz_share_btn_blue_1 .bt{width:120px;height:24px;background-image:url(sprite/open_share_button_widget.png?max_age=19830211&d=1128113721);background-position:-21px 0}
.qz_share_btn_blue_2 .bt{width:63px;height:24px;background-image:url(sprite/open_share_button_widget.png?max_age=19830211&d=1128113721);background-position:-21px -25px}
.qz_share_btn_blue_3 .bt{width:50px;height:16px;background-image:url(sprite/open_share_button_widget.png?max_age=19830211&d=1128113721);background-position:-99px -25px}
/*! CssGaga 1128113721 *//*  |xGv00|faf5bae00d70193141e70b18cd4ec25d */